$header-height: 70px;
$sidebar: 200px;
$sidebar-collapse: 80px;

//colors
$white: #FFFFFF;
$black: #000000;
$border: #DDDDDD;
$light-grey: #D7D7D7;
$grey: #787878;
$dark-grey: #282828;
$contrast-orange: #FF8800;
$alert-success: #33DD33;
$alert-failure: #FF0000;