@import 'src/styles/config.scss';

.create-form {
    margin: 20px auto;
    width: 500px;
    background-color: $grey;
    padding: 40px;
    .form-label, .form-input {
        border: none;
        border-radius: 0;
    }
}