@import 'src/styles/config.scss';

.select-close {
    position: relative;
}

.close-icon {
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.filterTheme {
    height: 30px;
    color: $white;
    background-color: $dark-grey;
}

.filterSelect {
    width: 100%;
    margin-top: 20px;
    @extend .filterTheme
}

.filterAdd {
    margin-top: 20px;
    width: 50%;
    border: none;
    @extend .filterTheme
}

.filterInput {
    margin-top: 5px;
    width: 85%;
    height: 30px;
    // box-shadow: inset 0 -1px 5px #000000;
    padding: 0 5px;
    border: 1px solid $dark-grey;
}